// Here you can add other styles
.active-page {
    background-color: #0000001f;
    color:red;
}
.page {
    border: 1px solid #0000001f;
    padding: 4px 10px;
}
.page:hover {
border: 1px solid #00000049 ;
}
